:root {
  --primary-color: 119, 155, 246; /* #779bf6 */
  --secondary-color: 167, 169, 242; /* #a7a9f2 */
  --primary-text-color: 0, 0, 0; /* #000000 */
  --secondary-text-color-2: 255, 255, 255; /*#fffff*/
  --btn-color: 73, 84, 186;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#root{
  min-height: 100vh;
}