.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white, rgb(var(--secondary-color)), rgb(var(--primary-color)));
}

.home-inner-container {
    display: flex;
    align-items: center;
}

.home-content {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.home-nav {
    padding : 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-nav > a{
    display: flex;
    justify-content: center;
}